:root {

  /* colors */
  --col-white: #fafafa; /* off white */
  --col-light: #ddd; /* light gray */
  --col-dark: #333; /* dark gray */
  --col-primary: var(--col-orange); /* orange */
  --col-secondary: var(--col-blue); /* blue */
  --col-tertiary: var(--col-green); /* green */
  /*--col-header: #f7dd8d;*/ /* yellow */
  --col-chrome: #181818; /* black gray */

  /*rainbow*/
  --col-red: #62171c; /*burgundy*/
  --col-orange: #b54502;
  --col-yellow: #f6f3e0; /*beige*/
  --col-light-green: #c9dcaf;
  --col-green: #384b04;
  --col-blue: #018684; /*teal*/


  /*  sizes */
  --sz-1: 0.3rem;
  --sz-2: 0.5rem;
  --sz-3: 0.75rem;
  --sz-4: 1rem;
  --sz-5: 1.3rem;
  --sz-6: 1.5rem;
  --sz-7: 1.7rem;
  --sz-8: 2rem;

  /* text */
  --txt-width: 60rem;
  --txt-height: 1.3;

  /* margin and padding */
  --m: var(--sz-4);
  --p: var(--sz-2);
  --m-0: 0;
  --p-0: 0;

  /* shadows, animations, and dimension */
  --shadow:       0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
}

/* browser adjusts height/width values to account for border/padding added */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(246,243,224);
  background: radial-gradient(circle, rgba(246,243,224,1) 2%, rgba(201,220,175,1) 52%, rgba(1,134,132,1) 95%, rgba(0,124,186,1) 100%);
  color: var(--col-dark);
  font: 400 1rem/1.5 'Atkinson Hyperlegible', sans-serif;
  margin: var(--m-0);
}

main {
  word-spacing: .1ch;
}

header {
  background-color: var(--col-chrome);
  color: var(--col-light);
}

footer {
  background-color: var(--col-chrome);
  color: var(--col-light);
}

header nav {
  padding-left: var(--sz-2);
  padding-right: var(--sz-2);
}

a:visited {
  color: inherit;
}

footer a {
  color: var(--col-light);
}

section, footer {
  padding: var(--sz-4);
}

section {
  background: #f6f3e050;
  margin-bottom: var(--sz-6);
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

nav > a {
  padding: var(--sz-3) var(--sz-4);
  display: inline-block;
  position: relative;
}

p, ul, ol, blockquote, dl, h1, h2, h3, h4, h5, h6, address {
  max-width: var(--txt-width);
  margin: 0 auto var(--m) auto;
}

p:last-child {
  margin-bottom: var(--m-0);
}

h1 {
  padding-top: var(--p);
  color: var(--col-green);
  border-bottom: 2px solid;
  font-size: 2.5rem;
}

h2 {
  color: var(--col-orange);
  font-size:1.8rem;
}

.skip-link {
  position: absolute;
  top: 0;
  right: 100%;
  z-index: 50;
}

.color-primary {
  background-color: var(--col-primary);
}

.color-secondary {
  background-color: var(--col-secondary);
}

.color-tertiary {
  background-color: var(--col-tertiary);
}

.block-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10vw;
}

.block-flex article {
  width: 20%;
  min-width: 10rem;
  padding: 0.5rem;
}

.block-flex img {
  width: 100%;
  box-shadow: var(--shadow);
}

.glyph {
  height: 1rem;
  width: 1rem;
  fill: currentColor;
}

.color-rainbow article:nth-child(1) {
  background-color: var(--col-red);
}

.color-rainbow article:nth-child(2) {
  background-color: var(--col-orange);
}

.color-rainbow article:nth-child(3) {
  background-color: var(--col-green);
}

.color-rainbow article:nth-child(4) {
  background-color: var(--col-blue);
}

.color-rainbow article:nth-child(5) {
  background-color: var(--col-indigo);
}

.color-rainbow article:nth-child(6) {
  background-color: var(--col-red);
}

.color-rainbow article:nth-child(7) {
  background-color: var(--col-orange);
}

[aria-label="Main"] {
  border-bottom: 2px solid var(--col-blue);
}

[aria-label="Main"] > a {
  color: var(--col-light);
}

header a, footer a {
  color: var(--col-light-green);
}

[aria-label="Main"] > a:first-child {
  margin-left: 55px;
  font-weight: bold;
  font-size: 1.3rem;
}

[aria-label="Main"] img {
  display: inline-block;
  position: absolute;
  margin-left: -60px;
}

header > p {
  padding-top: var(--sz-4);
  margin-left: calc(55px + 1rem);
  position: relative;
  max-width: 100%;
}

[aria-label="Breadcrumb"] {
  padding: var(--sz-2) var(--sz-2) var(--sz-2) calc(55px + 1rem);
  border-top: 2px solid var(--col-chrome);
  border-bottom: 2px solid var(--col-chrome);
}

[aria-label="Breadcrumb"] ol {
  list-style: none;
  margin: var(--m-0);
  padding: var(--p-0);
}

[aria-label="Breadcrumb"] li {
  display: inline-block;
}

nav[aria-label="Breadcrumb"] li:not(:last-child):after {
  content: "";
  display: inline-block;
  margin-left: 0.75ch;
  margin-right: 0.5ch;
  border-top: 0.5ch solid transparent;
  border-bottom: 0.5ch solid transparent;
  border-left: 0.5ch solid var(--col-light);
}

.link-action {
  padding: var(--sz-1) var(--sz-2);
  border: 1px solid;
}

header .link-action {
  padding: var(--sz-1) var(--sz-2);
  border-color: var(--col-light-green);
  background-color: var(--col-light-green);
  color: var(--col-chrome);
  margin-left: auto;
}

header p .link-action {
  position: absolute;
  right: var(--sz-2);
  top: var(--sz-2);
}
main .link-action {
  padding: var(--sz-3) var(--sz-4);
  border-color: transparent;
  background-color: var(--col-red);
  color: var(--col-yellow);
  box-shadow: var(--shadow);
}
