:root {

  /* colors */
  --col-white: #fafafa;
  --col-light: #eaeaea;
  --col-pink: rgb(247,83,167);

  /*--col-blue: #0d538f;*/
  --col-blue: #0e4279;
  --col-teal: #047C78;
  --col-cream: #f7e9bf;
  --col-beige: #f3ebd6;
  --col-beige-shade: #e2d9c2;
  --col-navy: #1f3475;
  --col-orange: #c44e2f;
  --col-lime: #b3d120;

    /*  sizes */
  --sz-1: 0.3rem;
  --sz-2: 0.5rem;
  --sz-3: 0.75rem;
  --sz-4: 1rem;
  --sz-5: 1.3rem;
  --sz-6: 1.5rem;
  --sz-7: 1.7rem;
  --sz-8: 2rem;
  --sz-9: 3rem;

  /* text */
  --txt-width: 60rem;
  --txt-height: 1.3;

  --width-1: 23.75rem;
  --width-2: 30rem;
  --width-3: 85rem;
  --width-4: 90ch;

  /* margin and padding */
  --m: var(--sz-4);
  --p: var(--sz-2);
  --m-0: 0;
  --p-0: 0;

  --bg: var(--col-beige);
  --txt: var(--col-navy);
  --accent: var(--col-orange);
  --width: var(--width-3);
  --min-width: var(--width-1);
  --border: 1px solid var(--col-navy);
  --padding: clamp(var(--sz-2), 5%, var(--sz-7));
}

/* browser adjusts height/width values to account for border/padding added */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

html * {
  transition: all 0.2s ease;
}

body {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  padding: var(--padding, 1rem);
  max-width: var(--width);
  margin-inline: auto;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: var(--bg);
  color: var(--txt);
}

a {
  color: var(--col-orange);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem auto;
  border: var(--border);
}

nav a {
  padding: var(--sz-4);
  color: var(--txt);
  text-decoration: none;
}

main, section {
  margin: var(--sz-5) auto;
}

main h2 {
  font-size: var(--sz-8);
  margin: var(--sz-6) auto;
}

main a {
  font-weight: bold;
}

.hero {
  padding: var(--sz-3) 0;
  display: flex;
  flex-basis: 50%;
  /*background: var(--bg) url("successland.jpg") contain no-repeat right;*/
}

.hero img {
  border-radius: 50%;
  max-width: 350px;
}

h1 {
    margin: 0;
    font-size: 5rem;
    line-height: 1.1;
}

h2 {
  font-size: var(--sz-6);
}

p:last-child {
  margin-bottom: var(--m-0);
}

tbody tr:nth-of-type(odd) {
  background-color: var(--col-beige);
}

td {
  padding: var(--sz-2);
}


label input {
  display: block;
  padding: var(--sz-2);
  font: inherit;
  margin-bottom: var(--sz-4);
}

textarea {
  width: 100%;
}

footer {
  background-color: var(--col-beige-shade);
  padding: var(--padding);
}

footer h2 {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min-width)), 1fr));
  gap: var(--sz-6);
}

.card {
  padding: var(--padding);
  border: var(--border);
}

.card h3 {
  border-bottom: 3px solid var(--col-lime);
}

.card > a:last-of-type, .btn {
  margin-top: auto;
  padding: var(--sz-3);
  background-color: var(--col-orange);
  color: var(--col-beige);
  display: inline-block;
  border: none;
  font: inherit;
}

nav .btn {
  background-color: var(--col-lime);
  color: var(--txt);
  margin: 0 var(--sz-2) 0 auto;
}

.color {
  margin-left: var(--sz-6) calc(calc(var(--padding) / 2) * -1);
  margin-right: var(--sz-6) calc(calc(var(--padding) / 2) * -1);
  padding: var(--sz-6) var(--padding);
  background-color: var(--col-beige-shade);
}

.color + .color {
  background-color: var(--col-white);
}

.with-icons .card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.with-icons img {
  max-height: 100%;
}

